.image-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .text-container {
    margin-bottom: 20px;
  }
  
  .image-title {
    font-weight: bold;
  }
  
  .fluid-image {
    width: 50%; /* Set the width directly */
    height: auto;
    display: block; /* Ensure the image takes up the specified width */
    margin: 0 auto; /* Center the image horizontally */
  }
  